<head>
  <title>User Profile</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<%- include('partials/header', {title: 'Register'}) %>

<div class="container">
  <aside class="sidebar">
      <ul class="nav">
          <li><a href="/profile"><i class="fas fa-home"></i>Overview</a></li>
          <li><a href="/profile/orders"><i class="fas fa-box"></i>Orders</a></li>
          <li><a href="/profile/returns"><i class="fas fa-undo"></i>Returns</a></li>
          <li><a href="/profile/favorites"><i class="fas fa-heart"></i>Favorites</a></li>
          <li><a href="/profile/details"><i class="fas fa-user-circle"></i>Details</a></li>
          <li><a href="/profile/settings"><i class="fas fa-cog"></i>Settings</a></li>
         <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
      </ul>
  </aside>
  <main class="main-content">
    <h2>Profile Details</h2>
    <form action="/profile/details" method="post" class="profile-form">
    <div class="form-row">
        <div class="form-column">
          First Name: <input type="text" name="firstName" placeholder="First Name" value="<%= user.firstName %>" required>
        </div>
        <div class="form-column">
          Last Name: <input type="text" name="lastName" placeholder="Last Name" value="<%= user.lastName %>" required>  
        </div>
        <div class="form-column">
          Email Address: <input type="text" name="email" placeholder="Email" value="<%= user.email %>" disabled title="Currently Prohibited." required>
      </div>
    </div>
    <div class="form-row">
        <div class="form-column">
          Shipping Address: <input type="text" name="address" placeholder="Enter Full Address" value="<%= user.address %>">
        </div>
        <div class="form-column">
          Phone Number: <input type="text" name="phoneNumber" placeholder="0049XXXXXXXXXX" value="<%= user.phoneNumber %>">
      </div>
      <div class="form-column">
        Change Password: <input type="password" name="password" placeholder="Enter New Password">
      </div>
    </div>
    <div class="form-actions">
    <button type="submit" value="Update" class="login-button">Update Profile Details</button>
    <% if (successMessage) { %>
      <div class="alert-success-updating">
          <%= successMessage %>
      </div>
    <% } %>
    </div>
</form>

    <h2>Delete Your Profile</h2>
    <form action="/profile/delete" method="post" onsubmit="return confirmDelete();" class="profile-form">
      This action cannot be reversed! Enter your password to confirm deletion:<input type="password" name="password" placeholder="Enter Your Password" required>
      <div class="form-actions">
      <button type="submit" class="delete-button">Delete Profile FOREVER</button>
      <% if (failMessage) { %>
        <div class="alert-fail-deleting">
            <%= failMessage %>
        </div>
      <% } %>
    </div>
    </form>
  </main>
</div>

<script>
function confirmDelete() {
  return confirm('Are you sure you want to delete your profile? This action cannot be reverted.');
}
</script>
  <%- include('partials/footer') %>
