<!DOCTYPE html>
<html>
<head>
    <title>Manage Products</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <%- include('partials/admin-header', {title: 'Dashboard'}) %>
    <div class="container">
        <aside class="sidebar">
            <%- include('partials/admin-sidebar', {title: 'Sidebar'}) %>
        </aside>
        <main class="main-content">
            <h1>Manage Products</h1>
            <div class="top-actions">
                <button onclick="window.location.href='/dashboard/manage-products/new-product';" class="create-new-product-button"><i class="fas fa-plus"></i> Create New Product</button>
                <form action="/dashboard/manage-products/search" method="get" class="search-form">
                    <input type="text" name="query" placeholder="Search Products...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="result-string">
                <% if (typeof resultCount !== 'undefined') { %>
                    <h4><%= resultCount %> result<%= resultCount !== 1 ? 's' : '' %> found for "<%= query %>"</h4>
                <% } %>
            </div>
            <table class="product-table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Brand</th>
                        <th>SKU</th>
                        <th>Year</th>
                        <th>Materials</th>
                        <th>Description</th>
                        <th>Categories</th>
                        <th>Seasons</th>
                        <th>Genders</th>
                        <th>Colors</th>
                        <th>SizesStock</th>
                        <th>Price(€)</th>
                        <th>Acts</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product => { %>
                        <tr>
                            <td><img src="<%= product.productImages[1] %>" alt="<%= product.productTitle %>" class="product-image-small"></td>
                            <td><%= product.productTitle %></td>
                            <td><%= product.productBrand %></td>
                            <td><%= product.productSKU %></td>
                            <td><%= product.productYear %></td>
                            <td><%= product.productMaterials.join(', ') %></td>
                            <td><%= product.productDescription[0].split(' ').slice(0, 5).join(' ') %>...</td>
                            <td><%= product.productCategories.join(', ') %></td>
                            <td><%= product.productSeasons.join(', ') %></td>
                            <td><%= product.productGenders.join(', ') %></td>
                            <td><%= product.productColors.join(', ') %></td>
                            <td>
                                <ul>
                                    <% product.productSizesStock.forEach(sizeStock => { %>
                                        <li><%= sizeStock.size %>: <%= sizeStock.stock %></li>
                                    <% }) %>
                                </ul>
                            </td>
                            <td>€<%= product.productPrice.toFixed(2) %></td>
                            <td>
                                
                                <button onclick="window.location.href='/dashboard/manage-products/edit-product/<%= product._id %>';" class="edit-product-icon"><i class="fas fa-edit"></i></button>
                                <form action="/dashboard/manage-products/delete-product/<%= product._id %>" method="post" onsubmit="return confirm('Are you sure you want to delete this product?');">
                                    <button type="submit" class="delete-product-icon"><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </main>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
